@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@mixin transision {
    transition: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif !important;
}

.card_custom {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 2em;
    @include transision;
    &:hover {
        box-shadow: 10px 10px black;
    }
    &_icon {
        display: flex;
        justify-content: center;
        font-size: 8em;
        @include transision;
        &:hover {
            color: purple;
        }
    }
    &_title {
        margin-top: 1em;
        font-size: 1.7em;
        text-align: center;
        color: black;
        font-weight: bold;
    }
    &_body {
        text-align: center;
    }
}

#title {
    p:nth-child(1) {
        font-weight: 700;
        font-size: 3.5em;
    }
}

#hero {
    margin-top: 10em;
    height: 80vh;
}

#tech {
    padding: 2em;
    background-color: rgb(240, 240, 240);
}

#personal_interest {
    padding: 2em;
}

.card_footer {
    @extend .card_custom;
    padding: 2em;
    margin-right: 2em;
    &_title {
        font-size: 2em;
    }
}
